@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

:root {
  --primary-color: rgb(179, 232, 146);
  --secondary-color: rgb(28, 27, 27);
  --tertiary-color: rgb(234, 236, 237);
}

html {
  box-sizing: border-box;
}

*, 
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: 'Graduate', 'Courier New', Courier, monospace;
  letter-spacing: .3rem;
}

body {
  background-color: var(--primary-color);
}

.navbar,
.footer {
  width: 100vw;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar h1 {
  font-size: 4rem;
  padding: 1.5rem 0;
}

.content-container {
  width: 100%;
  min-height: 80vh;
}

.tabs {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 3rem 0;
  padding: 0 .7rem;
}

.tab-leagues,
.tab-standings {
  width: 300px;
  border: 2px solid var(--secondary-color);
  border-radius: .5rem;
  text-align: center;
  padding: .5rem 0;
  cursor: pointer;
  box-shadow: .3rem .3rem .5rem var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

.tab-leagues:hover,
.tab-standings:hover {
  transform: scale(1.05);
}

.leagues-container {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 1rem;
  margin: 0 auto 1.5rem;
}

.league-div {
  border: 2px solid var(--secondary-color);
  border-radius: 1rem;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--tertiary-color);
  box-shadow: .3rem .3rem .5rem var(--secondary-color);
  cursor: pointer;
}

.league-div:hover {
  transform: scale(1.05);
}

.league-div > img {
  width: 100%;
}

.league-div > h3 {
  text-align: center;
}

.standings-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.select-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  max-width: 100%;
  padding: 0 .7rem;

}

.select-container select {
  padding: .5rem;
  font-size: 1.2rem;
  border: 2px solid var(--secondary-color);
  border-radius: 1rem;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  font-weight: 600;
}

.select-container select:first-child{
  max-width: 70%;
}

.standings {
  border: 2px solid var(--secondary-color);
  background-color: var(--tertiary-color);
  max-width: 100%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
}

th {
  letter-spacing: .1rem;
  padding: .2rem .5rem;
  width: 50px;
  cursor: pointer;
}

thead tr:first-child {
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

th:hover {
  color: var(--primary-color);
}

td {
  letter-spacing: .1rem;
}

tr {
  height: 40px;
}

tr td:not(:nth-child(2)) {
  text-align: center;
}

thead tr,
tbody tr:nth-child(2n) {
  background-color: rgb(211, 226, 201);
}

tr td:nth-child(2) {
  min-width: 350px;
  display: flex;
  align-items: center;
  padding-top: .3rem;
}

.team-logo {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.footer {
  padding: 1rem;
}

.copyright {
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
}

@media screen and  (max-width: 1260px) {
  .leagues-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and  (max-width: 960px) {
  .leagues-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 610px) {
  .leagues-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .navbar h1 {
    font-size: 2rem;
    padding: 1.5rem 0;
  }

  .tab-leagues,
  .tab-standings {
    width: 250px;
  }

  h2 {
    font-size: 1.2rem;
  }
}